body{
    border: 4% #bdc7cf solid;
    padding: 2%;
    font-family: 'Source Sans Pro', sans-serif;
}

h1{
    text-transform: uppercase;
    color: #3098dd;
    letter-spacing: o.3em;
}

h2{
    text-transform: uppercase;
    color: #354b63;
    font-size: 10px;
}

p{
    margin-left: 10px gray
}